.idea/

/target

database.sqlite*
*backup.sqlite
backup.sqlite-shm
backup.sqlite-wal

# Semi-Temporary files until we got Github Actions set up properly
.env
build_and_deploy.sh
update_data.sh
backup_data.sh
